---
import Layout from "@/layouts/Layout.astro";
import { db , Cities, eq, Countries} from "astro:db";
import SendCityPostcard from "@/components/SendCityPostcard.tsx";
import { User } from "astro:db";
import { and } from "astro:db";

const { user } = Astro.locals;
const { city, country } = Astro.params;
const allUsers = await db.select().from(User);
const currentCountry = await db.select().from(Countries).where(eq(Countries.name, country!));
const currentCity = await db.select().from(Cities).where(and(eq(Cities.name, city!), eq(Cities.countryId, currentCountry[0].id)));
---
<Layout title=`Enviar postal de ${currentCity[0].name}`>
    <section class="w-full h-full flex flex-col justify-center items-center md:grid md:place-content-center px-4 my-12">
        <SendCityPostcard user={user} users={allUsers} city={currentCity[0]} country={country!} client:only/>
    </section>
    <img 
        class="fixed inset-0 w-full h-full object-cover object-center -z-[2] brightness-75" 
        src={currentCity[0].image} 
        alt=""
    >
</Layout>